In [21]:
#importing the dataset

import pandas as pd
from pathlib import Path
df = pd.read_csv('./full data.csv')
            
df.head()

,REF_DATE,GEO,DGUID,Statistics,Characteristics,"Income, consumption and savings",UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,1999,Canada,2016A000011124,Value,All households,Household disposable income,Dollars,81,millions,6,v116885914,1.1.1.1,546261.0,NaN,NaN,NaN,0
1,1999,Canada,2016A000011124,Value,All households,Compensation of employees,Dollars,81,millions,6,v116885915,1.1.1.2,506817.0,NaN,NaN,NaN,0
2,1999,Canada,2016A000011124,Value,All households,Net mixed income,Dollars,81,millions,6,v116885916,1.1.1.3,97809.0,NaN,NaN,NaN,0
3,1999,Canada,2016A000011124,Value,All households,Property income received,Dollars,81,millions,6,v116885917,1.1.1.4,111791.0,NaN,NaN,NaN,0
4,1999,Canada,2016A000011124,Value,All households,Less: property income paid,Dollars,81,millions,6,v116885918,1.1.1.5,36406.0,NaN,NaN,NaN,0

In [25]:
#Import columns - years, segments (income consumption and savings)

new_df = df.drop(columns = ['DGUID', 'Statistics' ,'UOM' ,'UOM_ID' , 'SCALAR_FACTOR' , 'SCALAR_ID', 'VECTOR' , 'COORDINATE' , 'STATUS' , 'SYMBOL','TERMINATED', 'DECIMALS'], axis =1)

In [26]:
new_df.head()

   REF_DATE     GEO Characteristics Income, consumption and savings     VALUE
0      1999  Canada  All households     Household disposable income  546261.0
1      1999  Canada  All households       Compensation of employees  506817.0
2      1999  Canada  All households                Net mixed income   97809.0
3      1999  Canada  All households        Property income received  111791.0
4      1999  Canada  All households      Less: property income paid   36406.0

In [27]:
df_transpose = new_df.transpose()

In [28]:
df_transpose.head()

,0,1,2,3,4,5,6,7,8,9,...,90422,90423,90424,90425,90426,90427,90428,90429,90430,90431
REF_DATE,1999,1999,1999,1999,1999,1999,1999,1999,1999,1999,...,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022
GEO,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,...,Nunavut,Nunavut,Nunavut,Nunavut,Nunavut,Nunavut,Nunavut,Nunavut,Nunavut,Nunavut
Characteristics,All households,All households,All households,All households,All households,All households,All households,All households,All households,All households,...,All households,All households,All households,All households,All households,All households,All households,All households,All households,All households
"Income, consumption and savings",Household disposable income,Compensation of employees,Net mixed income,Property income received,Less: property income paid,Current transfers received,Less: current transfers paid,Social transfers in kind (STiK),Social transfers in kind (STiK): education,Social transfers in kind (STiK): health,...,"Food, beverage and accommodation services",Insurance and financial services,Miscellaneous goods and services,Social transfers in kind (STiK),Social transfers in kind (STiK): education,Social transfers in kind (STiK): health,Social transfers in kind (STiK): other,Household actual final consumption,Change in pension entitlements,Household net saving
VALUE,546261.0,506817.0,97809.0,111791.0,36406.0,129447.0,263197.0,140533.0,49473.0,62634.0,...,2312.0,1198.0,2138.0,67197.0,11940.0,34698.0,20559.0,113427.0,5617.0,64239.0

In [35]:

new_df_characteristics = new_df.pivot(columns = 'REF_DATE' , values = ['GEO', 'Characteristics' ,'Income, consumption and savings' , 'VALUE'])

In [36]:
new_df_characteristics.head()

             GEO                                               ... VALUE       \
REF_DATE    1999 2000 2001 2002 2003 2004 2005 2006 2007 2008  ...  2013 2014
0         Canada  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN  NaN
1         Canada  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN  NaN
2         Canada  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN  NaN
3         Canada  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN  NaN
4         Canada  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN  ...   NaN  NaN


REF_DATE 2015 2016 2017 2018 2019 2020 2021 2022
0         NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
1         NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
2         NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
3         NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN
4         NaN  NaN  NaN  NaN  NaN  NaN  NaN  NaN

[5 rows x 96 columns]

In [51]:

# Specify 'Name' column as index
df_index = new_df.set_index('GEO')

# Transpose the DataFrame
df_transposed = new_df.transpose()

# Display the transposed DataFrame
df_transposed.head()

,0,1,2,3,4,5,6,7,8,9,...,90422,90423,90424,90425,90426,90427,90428,90429,90430,90431
REF_DATE,1999,1999,1999,1999,1999,1999,1999,1999,1999,1999,...,2022,2022,2022,2022,2022,2022,2022,2022,2022,2022
GEO,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,Canada,...,Nunavut,Nunavut,Nunavut,Nunavut,Nunavut,Nunavut,Nunavut,Nunavut,Nunavut,Nunavut
Characteristics,All households,All households,All households,All households,All households,All households,All households,All households,All households,All households,...,All households,All households,All households,All households,All households,All households,All households,All households,All households,All households
"Income, consumption and savings",Household disposable income,Compensation of employees,Net mixed income,Property income received,Less: property income paid,Current transfers received,Less: current transfers paid,Social transfers in kind (STiK),Social transfers in kind (STiK): education,Social transfers in kind (STiK): health,...,"Food, beverage and accommodation services",Insurance and financial services,Miscellaneous goods and services,Social transfers in kind (STiK),Social transfers in kind (STiK): education,Social transfers in kind (STiK): health,Social transfers in kind (STiK): other,Household actual final consumption,Change in pension entitlements,Household net saving
VALUE,546261.0,506817.0,97809.0,111791.0,36406.0,129447.0,263197.0,140533.0,49473.0,62634.0,...,2312.0,1198.0,2138.0,67197.0,11940.0,34698.0,20559.0,113427.0,5617.0,64239.0

In [52]:
filtered_df= new_df.loc[(new_df['GEO'] =='Canada') & (new_df['Characteristics'] =='All households')]

In [53]:
filtered_df.head()

   REF_DATE     GEO Characteristics Income, consumption and savings     VALUE
0      1999  Canada  All households     Household disposable income  546261.0
1      1999  Canada  All households       Compensation of employees  506817.0
2      1999  Canada  All households                Net mixed income   97809.0
3      1999  Canada  All households        Property income received  111791.0
4      1999  Canada  All households      Less: property income paid   36406.0

In [54]:
drop_filtered = filtered_df.drop (columns = ['GEO', 'Characteristics'])

In [56]:
drop_filtered.head()

   REF_DATE Income, consumption and savings     VALUE
0      1999     Household disposable income  546261.0
1      1999       Compensation of employees  506817.0
2      1999                Net mixed income   97809.0
3      1999        Property income received  111791.0
4      1999      Less: property income paid   36406.0

In [66]:
groupby_df = drop_filtered.groupby (by = ['REF_DATE' , 'Income, consumption and savings']).sum()

In [67]:
groupby_df

                                                        VALUE
REF_DATE Income, consumption and savings
1999     Adjusted household disposable income        779551.0
         Alcoholic beverages and tobacco              28365.0
         Change in pension entitlements               36480.0
         Clothing and footwear                        31517.0
         Communications                               13007.0
...                                                       ...
2022     Social transfers in kind (STiK)             943404.0
         Social transfers in kind (STiK): education  269618.0
         Social transfers in kind (STiK): health     500156.0
         Social transfers in kind (STiK): other      174030.0
         Transport                                   243009.0

[696 rows x 1 columns]