In [18]:
#importing the dataset

import pandas as pd
from pathlib import Path
df = pd.read_csv('./consumption data.csv'
            )
df.head()

,REF_DATE,GEO,DGUID,Statistics,Characteristics,"Income, consumption and savings",UOM,UOM_ID,SCALAR_FACTOR,SCALAR_ID,VECTOR,COORDINATE,VALUE,STATUS,SYMBOL,TERMINATED,DECIMALS
0,2008,Canada,2016A000011124,Value,All households,Household disposable income,Dollars,81,millions,6,v116885914,1.1.1.1,862404,NaN,NaN,NaN,0
1,2009,Canada,2016A000011124,Value,All households,Household disposable income,Dollars,81,millions,6,v116885914,1.1.1.1,884783,NaN,NaN,NaN,0
2,2010,Canada,2016A000011124,Value,All households,Household disposable income,Dollars,81,millions,6,v116885914,1.1.1.1,928091,NaN,NaN,NaN,0
3,2011,Canada,2016A000011124,Value,All households,Household disposable income,Dollars,81,millions,6,v116885914,1.1.1.1,962102,NaN,NaN,NaN,0
4,2012,Canada,2016A000011124,Value,All households,Household disposable income,Dollars,81,millions,6,v116885914,1.1.1.1,1001254,NaN,NaN,NaN,0