In [1]:
import numpy as np
import pandas as pd
import seaborn as sns
import os

In [11]:
print(os.listdir())

['.ipynb_checkpoints', 'canada_household_econimic_data A.csv', 'canada_household_econimic_data.csv', 'Untitled.ipynb']

In [12]:
df = pd.read_csv("canada_household_econimic_data A.csv")

In [13]:
df

,"Income, consumption and savings",2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Food and non-alcoholic beverages,"59,698","62,227","64,646","67,044","69,305","72,227","75,314","79,394","84,166",...,"94,538","98,670","102,658","105,137","109,628","111,574","115,912","128,000","129,710","138,047"
1,Alcoholic beverages and tobacco,"27,713","31,002","33,087","34,003","34,130","34,294","34,907","35,605","36,033",...,"40,679","42,050","43,354","44,523","45,376","48,672","48,571","50,546","51,010","51,749"
2,Clothing and footwear,"30,229","31,099","31,763","32,559","33,712","35,512","37,171","37,507","36,964",...,"42,358","44,626","47,299","47,876","49,289","61,997","63,586","50,408","58,853","69,437"
3,"Housing, water, electricity, gas and other fuels","139,341","145,400","153,520","160,413","168,562","177,060","188,322","200,145","205,828",...,"244,457","257,191","266,997","275,833","288,655","275,918","290,065","302,490","315,491","341,619"
4,"Furnishings, household equipment and other goo...","35,912","38,516","40,551","42,785","44,873","48,180","50,974","52,639","52,060",...,"55,877","58,285","60,547","62,858","65,200","76,452","79,251","84,579","93,833","97,809"
5,Health,"21,548","23,418","24,760","26,646","28,720","31,246","33,824","35,944","37,843",...,"44,037","45,717","47,935","50,188","52,376","51,350","53,421","49,194","53,959","59,541"
6,Transport,"90,542","97,163","101,244","105,296","113,683","120,288","128,871","134,707","125,375",...,"163,831","172,794","172,494","176,475","189,321","208,408","209,236","162,733","186,865","221,035"
7,Communications,"13,672","15,134","15,788","16,811","18,071","19,243","20,175","21,030","22,551",...,"26,831","28,184","29,495","30,697","33,112","32,218","33,337","33,158","33,534","35,056"
8,Recreation and culture,"61,600","64,807","67,024","69,501","72,867","76,571","80,747","83,203","83,559",...,"90,358","92,395","94,536","95,717","97,781","112,177","114,121","108,513","119,676","131,778"
9,Education,"6,346","6,936","7,873","8,326","8,991","9,562","10,189","10,973","11,838",...,"15,168","15,012","15,786","16,551","20,681","16,110","16,910","16,390","16,801","18,093"
10,"Food, beverage and accommodation services","45,449","47,042","48,631","50,961","54,283","57,591","61,374","64,439","64,620",...,"77,153","80,380","83,572","85,392","86,508","96,227","100,436","68,985","80,968","106,738"
11,Insurance and financial services,"51,954","55,832","57,839","62,240","66,978","71,411","77,358","78,026","74,669",...,"88,828","94,556","98,811","101,962","108,202","103,247","106,821","109,557","118,290","121,458"
12,Miscellaneous goods and services,"31,176","33,029","34,480","36,355","38,239","40,455","42,797","44,893","46,186",...,"53,969","56,395","58,596","60,457","63,024","66,095","69,149","63,344","68,646","77,310"

In [14]:
df.isnull()

,"Income, consumption and savings",2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
1,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
2,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
3,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
4,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
5,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
6,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
7,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
8,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
9,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
10,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
11,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False
12,False,False,False,False,False,False,False,False,False,False,...,False,False,False,False,False,False,False,False,False,False

In [15]:
df=df.dropna().copy()
df

,"Income, consumption and savings",2001,2002,2003,2004,2005,2006,2007,2008,2009,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
0,Food and non-alcoholic beverages,"59,698","62,227","64,646","67,044","69,305","72,227","75,314","79,394","84,166",...,"94,538","98,670","102,658","105,137","109,628","111,574","115,912","128,000","129,710","138,047"
1,Alcoholic beverages and tobacco,"27,713","31,002","33,087","34,003","34,130","34,294","34,907","35,605","36,033",...,"40,679","42,050","43,354","44,523","45,376","48,672","48,571","50,546","51,010","51,749"
2,Clothing and footwear,"30,229","31,099","31,763","32,559","33,712","35,512","37,171","37,507","36,964",...,"42,358","44,626","47,299","47,876","49,289","61,997","63,586","50,408","58,853","69,437"
3,"Housing, water, electricity, gas and other fuels","139,341","145,400","153,520","160,413","168,562","177,060","188,322","200,145","205,828",...,"244,457","257,191","266,997","275,833","288,655","275,918","290,065","302,490","315,491","341,619"
4,"Furnishings, household equipment and other goo...","35,912","38,516","40,551","42,785","44,873","48,180","50,974","52,639","52,060",...,"55,877","58,285","60,547","62,858","65,200","76,452","79,251","84,579","93,833","97,809"
5,Health,"21,548","23,418","24,760","26,646","28,720","31,246","33,824","35,944","37,843",...,"44,037","45,717","47,935","50,188","52,376","51,350","53,421","49,194","53,959","59,541"
6,Transport,"90,542","97,163","101,244","105,296","113,683","120,288","128,871","134,707","125,375",...,"163,831","172,794","172,494","176,475","189,321","208,408","209,236","162,733","186,865","221,035"
7,Communications,"13,672","15,134","15,788","16,811","18,071","19,243","20,175","21,030","22,551",...,"26,831","28,184","29,495","30,697","33,112","32,218","33,337","33,158","33,534","35,056"
8,Recreation and culture,"61,600","64,807","67,024","69,501","72,867","76,571","80,747","83,203","83,559",...,"90,358","92,395","94,536","95,717","97,781","112,177","114,121","108,513","119,676","131,778"
9,Education,"6,346","6,936","7,873","8,326","8,991","9,562","10,189","10,973","11,838",...,"15,168","15,012","15,786","16,551","20,681","16,110","16,910","16,390","16,801","18,093"
10,"Food, beverage and accommodation services","45,449","47,042","48,631","50,961","54,283","57,591","61,374","64,439","64,620",...,"77,153","80,380","83,572","85,392","86,508","96,227","100,436","68,985","80,968","106,738"
11,Insurance and financial services,"51,954","55,832","57,839","62,240","66,978","71,411","77,358","78,026","74,669",...,"88,828","94,556","98,811","101,962","108,202","103,247","106,821","109,557","118,290","121,458"
12,Miscellaneous goods and services,"31,176","33,029","34,480","36,355","38,239","40,455","42,797","44,893","46,186",...,"53,969","56,395","58,596","60,457","63,024","66,095","69,149","63,344","68,646","77,310"

In [16]:
df.isnull().sum()

Income, consumption and savings    0
2001                               0
2002                               0
2003                               0
2004                               0
2005                               0
2006                               0
2007                               0
2008                               0
2009                               0
2010                               0
2011                               0
2012                               0
2013                               0
2014                               0
2015                               0
2016                               0
2017                               0
2018                               0
2019                               0
2020                               0
2021                               0
2022                               0
dtype: int64