In [27]:
import numpy as np
import pandas as pd
import seaborn as sns
import os
import matplotlib.pyplot as plt

In [28]:
print(os.listdir())

['ETF_Analysis.ipynb', '.DS_Store', 'Guidelines_ Requirements', 'data cleanup.ipynb', 'Resources', 'Output', 'readme.md', '.gitignore', '.env', 'canada_CPI.csv', '.ipynb_checkpoints', '.git', 'Project 1.ipynb']

In [45]:
household_df = pd.read_csv("./Resources/canada_household_econimic_data.csv", index_col = 'Income, consumption and savings')
display(household_df.head())
display(household_df.tail())

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
"Income, consumption and savings",,,,,,,,,,,,,,,,,,,,,
Household disposable income,"615,286","642,584","663,239","695,238","721,510","774,375","816,321","862,404","884,783","928,091",...,"1,046,791","1,081,654","1,129,875","1,132,763","1,189,366","1,224,919","1,280,362","1,387,360","1,444,569","1,520,693"
Compensation of employees,"574,278","596,782","620,600","656,154","692,609","737,321","782,564","818,108","810,556","835,940",...,"959,181","996,247","1,024,742","1,024,142","1,066,523","1,122,304","1,168,597","1,155,842","1,264,592","1,383,129"
Net mixed income,"107,636","111,748","116,533","122,301","125,661","131,002","138,842","143,917","144,671","151,130",...,"167,712","172,078","177,994","183,581","190,323","195,618","207,999","207,211","217,267","237,720"
Property income received,"116,942","109,346","108,675","113,209","122,970","137,105","153,667","160,013","152,106","152,519",...,"175,342","181,876","198,218","189,502","202,189","202,278","217,587","212,221","215,883","241,202"
Less: property income paid,"41,204","37,300","39,081","40,156","43,309","52,632","61,313","63,921","55,559","54,143",...,"56,232","55,857","56,033","56,405","60,186","70,213","79,808","72,579","66,922","85,866"

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
"Income, consumption and savings",,,,,,,,,,,,,,,,,,,,,
Social transfers in kind (STiK): health,"73,275","77,820","83,061","86,672","90,590","96,801","104,198","111,759","118,734","124,275",...,"139,633","144,998","150,809","155,903","161,159","165,903","172,933","185,450","210,157","227,467"
Social transfers in kind (STiK): other,"32,556","35,055","36,580","37,853","40,287","42,756","44,656","48,565","48,630","49,302",...,"54,285","54,591","56,784","59,697","62,117","65,927","68,847","70,937","71,786","79,088"
Household actual final consumption,"775,366","821,301","860,010","899,394","948,698","1,004,073","1,063,632","1,115,820","1,129,735","1,183,964",...,"1,323,036","1,379,357","1,424,887","1,466,550","1,533,668","1,597,406","1,650,671","1,597,233","1,724,190","1,898,803"
Change in pension entitlements,"29,643","29,444","32,376","35,213","41,620","39,979","43,385","45,397","38,057","38,076",...,"44,876","46,439","43,260","43,138","43,728","43,259","47,476","39,000","41,658","41,660"
Household net saving,"29,749","20,423","14,409","17,511","10,716","20,714","17,683","29,296","41,148","39,451",...,"53,583","41,838","51,055","22,235","23,941","7,733","27,022","198,463","158,591","92,683"

In [46]:
# Display data information
household_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, Household disposable income to Household net saving
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2001    33 non-null     object
 1   2002    33 non-null     object
 2   2003    33 non-null     object
 3   2004    33 non-null     object
 4   2005    33 non-null     object
 5   2006    33 non-null     object
 6   2007    33 non-null     object
 7   2008    33 non-null     object
 8   2009    33 non-null     object
 9   2010    33 non-null     object
 10  2011    33 non-null     object
 11  2012    33 non-null     object
 12  2013    33 non-null     object
 13  2014    33 non-null     object
 14  2015    33 non-null     object
 15  2016    33 non-null     object
 16  2017    33 non-null     object
 17  2018    33 non-null     object
 18  2019    33 non-null     object
 19  2020    33 non-null     object
 20  2021    33 non-null     object
 21  2022    33 non-null     object
dtypes: object(22)
memory usage: 5.9+ KB

In [ ]:
#Not Necessary
df.isnull()

In [ ]:
#Not Necessary
df=df.dropna().copy()
df

In [ ]:
#Not Necessary
df.isnull().sum()

In [32]:
#Display components of economic data
household_df['Income, consumption and savings'].unique()

array(['Household disposable income', 'Compensation of employees',
       'Net mixed income', 'Property income received',
       'Less: property income paid', 'Current transfers received',
       'Less: current transfers paid', 'Social transfers in kind (STiK)',
       'Social transfers in kind (STiK): education',
       'Social transfers in kind (STiK): health',
       'Social transfers in kind (STiK): other',
       'Adjusted household disposable income',
       'Household final consumption expenditure (HFCE)',
       'Food and non-alcoholic beverages',
       'Alcoholic beverages and tobacco', 'Clothing and footwear',
       'Housing, water, electricity, gas and other fuels',
       'Furnishings, household equipment and other goods and services related to the dwelling and property',
       'Health', 'Transport', 'Communications', 'Recreation and culture',
       'Education', 'Food, beverage and accommodation services',
       'Insurance and financial services',
       'Miscellaneous goods and services',
       'Household actual final consumption',
       'Change in pension entitlements', 'Household net saving'],
      dtype=object)

In [90]:
# Selecting Household Consumption and Net Savings Data from full data

consumption_df = household_df.transpose().drop(columns=['Household disposable income',
                                                       'Compensation of employees',
                                                       'Net mixed income', 'Property income received',
                                                       'Less: property income paid', 
                                                       'Current transfers received',
                                                       'Less: current transfers paid', 
                                                       'Social transfers in kind (STiK)',
                                                       'Social transfers in kind (STiK): education',
                                                        'Social transfers in kind (STiK): health',
                                                        'Social transfers in kind (STiK): other',
                                                       'Adjusted household disposable income',
                                                        'Household final consumption expenditure (HFCE)',
                                                       'Household actual final consumption',
                                                       'Change in pension entitlements'], axis=1)


consumption_df

"Income, consumption and savings",Food and non-alcoholic beverages,Alcoholic beverages and tobacco,Clothing and footwear,"Housing, water, electricity, gas and other fuels","Furnishings, household equipment and other goods and services related to the dwelling and property",Health,Transport,Communications,Recreation and culture,Education,"Food, beverage and accommodation services",Insurance and financial services,Miscellaneous goods and services,Household net saving
2001,"59,698","27,713","30,229","139,341","35,912","21,548","90,542","13,672","61,600","6,346","45,449","51,954","31,176","29,749"
2002,"62,227","31,002","31,099","145,400","38,516","23,418","97,163","15,134","64,807","6,936","47,042","55,832","33,029","20,423"
2003,"64,646","33,087","31,763","153,520","40,551","24,760","101,244","15,788","67,024","7,873","48,631","57,839","34,480","14,409"
2004,"67,044","34,003","32,559","160,413","42,785","26,646","105,296","16,811","69,501","8,326","50,961","62,240","36,355","17,511"
2005,"69,305","34,130","33,712","168,562","44,873","28,720","113,683","18,071","72,867","8,991","54,283","66,978","38,239","10,716"
2006,"72,227","34,294","35,512","177,060","48,180","31,246","120,288","19,243","76,571","9,562","57,591","71,411","40,455","20,714"
2007,"75,314","34,907","37,171","188,322","50,974","33,824","128,871","20,175","80,747","10,189","61,374","77,358","42,797","17,683"
2008,"79,394","35,605","37,507","200,145","52,639","35,944","134,707","21,030","83,203","10,973","64,439","78,026","44,893","29,296"
2009,"84,166","36,033","36,964","205,828","52,060","37,843","125,375","22,551","83,559","11,838","64,620","74,669","46,186","41,148"
2010,"86,223","37,477","38,677","214,534","53,422","39,809","137,860","23,423","86,079","12,578","67,606","80,704","48,324","39,451"
2011,"89,033","38,506","40,029","224,318","53,901","41,354","148,259","24,745","88,040","13,347","70,736","84,381","50,429","41,961"
2012,"91,619","39,828","41,119","232,923","54,543","42,508","155,318","25,561","89,397","14,235","74,115","84,478","52,411","50,651"
2013,"94,538","40,679","42,358","244,457","55,877","44,037","163,831","26,831","90,358","15,168","77,153","88,828","53,969","53,583"
2014,"98,670","42,050","44,626","257,191","58,285","45,717","172,794","28,184","92,395","15,012","80,380","94,556","56,395","41,838"
2015,"102,658","43,354","47,299","266,997","60,547","47,935","172,494","29,495","94,536","15,786","83,572","98,811","58,596","51,055"
2016,"105,137","44,523","47,876","275,833","62,858","50,188","176,475","30,697","95,717","16,551","85,392","101,962","60,457","22,235"
2017,"109,628","45,376","49,289","288,655","65,200","52,376","189,321","33,112","97,781","20,681","86,508","108,202","63,024","23,941"
2018,"111,574","48,672","61,997","275,918","76,452","51,350","208,408","32,218","112,177","16,110","96,227","103,247","66,095","7,733"
2019,"115,912","48,571","63,586","290,065","79,251","53,421","209,236","33,337","114,121","16,910","100,436","106,821","69,149","27,022"
2020,"128,000","50,546","50,408","302,490","84,579","49,194","162,733","33,158","108,513","16,390","68,985","109,557","63,344","198,463"
2021,"129,710","51,010","58,853","315,491","93,833","53,959","186,865","33,534","119,676","16,801","80,968","118,290","68,646","158,591"
2022,"138,047","51,749","69,437","341,619","97,809","59,541","221,035","35,056","131,778","18,093","106,738","121,458","77,310","92,683"

In [91]:
# Cleaning Data removing characters and converting numbers to int type

for column in consumption_df.columns:
    consumption_df[column] = consumption_df[column].str.replace(',','')
    consumption_df[column] = consumption_df[column].astype(int)
    
display(consumption_df.head())
display(consumption_df.tail())

"Income, consumption and savings",Food and non-alcoholic beverages,Alcoholic beverages and tobacco,Clothing and footwear,"Housing, water, electricity, gas and other fuels","Furnishings, household equipment and other goods and services related to the dwelling and property",Health,Transport,Communications,Recreation and culture,Education,"Food, beverage and accommodation services",Insurance and financial services,Miscellaneous goods and services,Household net saving
2001,59698,27713,30229,139341,35912,21548,90542,13672,61600,6346,45449,51954,31176,29749
2002,62227,31002,31099,145400,38516,23418,97163,15134,64807,6936,47042,55832,33029,20423
2003,64646,33087,31763,153520,40551,24760,101244,15788,67024,7873,48631,57839,34480,14409
2004,67044,34003,32559,160413,42785,26646,105296,16811,69501,8326,50961,62240,36355,17511
2005,69305,34130,33712,168562,44873,28720,113683,18071,72867,8991,54283,66978,38239,10716

"Income, consumption and savings",Food and non-alcoholic beverages,Alcoholic beverages and tobacco,Clothing and footwear,"Housing, water, electricity, gas and other fuels","Furnishings, household equipment and other goods and services related to the dwelling and property",Health,Transport,Communications,Recreation and culture,Education,"Food, beverage and accommodation services",Insurance and financial services,Miscellaneous goods and services,Household net saving
2018,111574,48672,61997,275918,76452,51350,208408,32218,112177,16110,96227,103247,66095,7733
2019,115912,48571,63586,290065,79251,53421,209236,33337,114121,16910,100436,106821,69149,27022
2020,128000,50546,50408,302490,84579,49194,162733,33158,108513,16390,68985,109557,63344,198463
2021,129710,51010,58853,315491,93833,53959,186865,33534,119676,16801,80968,118290,68646,158591
2022,138047,51749,69437,341619,97809,59541,221035,35056,131778,18093,106738,121458,77310,92683

In [93]:
consumption_df['Consumer_Staples'] = consumption_df['Food and non-alcoholic beverages'] + consumption_df['Alcoholic beverages and tobacco'] + consumption_df['Clothing and footwear']

consumption_df['Real_Estate and Utilities'] = consumption_df['Housing, water, electricity, gas and other fuels']+consumption_df['Furnishings, household equipment and other goods and services related to the dwelling and property']+consumption_df['Miscellaneous goods and services']

consumption_df['Travel and Leisure'] = consumption_df['Transport']+consumption_df['Recreation and culture']

sector_consumption_df = consumption_df[['Consumer_Staples','Real_Estate and Utilities','Health',
                                       'Insurance and financial services','Travel and Leisure',
                                       'Household net saving']].reset_index()

sector_consumption_df.rename(columns={'index':'Year'},inplace=True)

sector_consumption_df = sector_consumption_df.set_index('Year')

sector_consumption_df

"Income, consumption and savings",Consumer_Staples,Real_Estate and Utilities,Health,Insurance and financial services,Travel and Leisure,Household net saving
Year,,,,,,
2001,117640,206429,21548,51954,152142,29749
2002,124328,216945,23418,55832,161970,20423
2003,129496,228551,24760,57839,168268,14409
2004,133606,239553,26646,62240,174797,17511
2005,137147,251674,28720,66978,186550,10716
2006,142033,265695,31246,71411,196859,20714
2007,147392,282093,33824,77358,209618,17683
2008,152506,297677,35944,78026,217910,29296
2009,157163,304074,37843,74669,208934,41148
2010,162377,316280,39809,80704,223939,39451
2011,167568,328648,41354,84381,236299,41961
2012,172566,339877,42508,84478,244715,50651
2013,177575,354303,44037,88828,254189,53583
2014,185346,371871,45717,94556,265189,41838
2015,193311,386140,47935,98811,267030,51055
2016,197536,399148,50188,101962,272192,22235
2017,204293,416879,52376,108202,287102,23941
2018,222243,418465,51350,103247,320585,7733
2019,228069,438465,53421,106821,323357,27022
2020,228954,450413,49194,109557,271246,198463
2021,239573,477970,53959,118290,306541,158591
2022,259233,516738,59541,121458,352813,92683

# YOY Inflation movement
## Measure of Inflation choosen: **CPI- Median**

In [53]:
# Quarterly CPI Data

cpi_path = 'canada_CPI.csv'
cpi_df = pd.read_csv( cpi_path, skiprows=1)

cpi_df.head()

,date,INDINF_CPI_Q,INDINF_CPI_TRIM_Q,INDINF_CPI_MEDIAN_Q,INDINF_CPI_COMMON_Q
0,1993Q1,2.2,2.0,2.0,1.8
1,1993Q2,1.8,1.9,1.9,1.7
2,1993Q3,1.8,1.8,1.7,1.4
3,1993Q4,1.8,1.8,1.7,1.5
4,1994Q1,0.5,1.5,1.6,1.3

In [54]:
#dropping all other table except the median

cpi_median_df = cpi_df.drop(columns = ['INDINF_CPI_Q','INDINF_CPI_TRIM_Q','INDINF_CPI_COMMON_Q'], axis =1)

#displaying the first five observations 
cpi_median_df.head()

     date  INDINF_CPI_MEDIAN_Q
0  1993Q1                  2.0
1  1993Q2                  1.9
2  1993Q3                  1.7
3  1993Q4                  1.7
4  1994Q1                  1.6

In [55]:
#formating dates by removing Q1, Q2, Q3 and Q4

cpi_df["date"] = [date.split('Q')[0] for date in cpi_df["date"]]

#displaying the first five observations
cpi_df.head()

,date,INDINF_CPI_Q,INDINF_CPI_TRIM_Q,INDINF_CPI_MEDIAN_Q,INDINF_CPI_COMMON_Q
0,1993,2.2,2.0,2.0,1.8
1,1993,1.8,1.9,1.9,1.7
2,1993,1.8,1.8,1.7,1.4
3,1993,1.8,1.8,1.7,1.5
4,1994,0.5,1.5,1.6,1.3

In [ ]:
#converting date (NOT NECESSARY)
median_df['date'] = pd.to_datetime(median_df['date'], format='%Y') 

#summing observation with the same date (NEED AVERAGE INFLATION FOR YEAR .mean() and not .sum() here)

groupby_df=median_df.groupby (by = ['date']).sum()


#displaying the first five observations
groupby_df.head()

In [56]:
# changing column names
cpi_df.rename(columns = {'date':'Year','INDINF_CPI_MEDIAN_Q':'CPI_MEDIAN','INDINF_CPI_Q':'CPI_CORE',
                               'INDINF_CPI_TRIM_Q':'CPI_TRIM','INDINF_CPI_COMMON_Q':'CPI_COMMON'}, 
                     inplace = True)

# calculating approximate annual inflation as Mean of Quarterly CPI

cpi_annual_df = cpi_df.groupby('Year').mean()

cpi_annual_df

      CPI_CORE  CPI_TRIM  CPI_MEDIAN  CPI_COMMON
Year
1993  1.900000  1.875000       1.825    1.600000
1994  0.150000  1.425000       1.525    0.975000
1995  2.125000  2.025000       1.900    1.725000
1996  1.625000  1.275000       1.300    1.300000
1997  1.650000  1.175000       1.125    1.500000
1998  0.975000  1.075000       1.175    1.675000
1999  1.750000  1.300000       1.200    1.900000
2000  2.725000  1.750000       1.550    1.775000
2001  2.550000  2.250000       2.175    2.425000
2002  2.250000  2.050000       2.075    2.250000
2003  2.775000  1.925000       2.075    1.925000
2004  1.825000  1.675000       1.675    1.800000
2005  2.225000  1.750000       1.850    1.975000
2006  2.025000  2.050000       1.975    2.000000
2007  2.150000  2.575000       2.500    2.250000
2008  2.375000  2.400000       2.575    2.325000
2009  0.300000  1.825000       2.050    2.800000
2010  1.775000  1.250000       1.600    1.275000
2011  2.900000  1.750000       1.875    1.775000
2012  1.550000  1.625000       1.775    1.775000
2013  0.900000  1.175000       1.575    1.275000
2014  1.900000  1.650000       1.725    1.475000
2015  1.125000  1.625000       1.800    1.900000
2016  1.450000  1.850000       2.000    1.700000
2017  1.600000  1.425000       1.650    1.250000
2018  2.300000  1.925000       1.825    1.775000
2019  1.950000  2.025000       1.950    2.150000
2020  0.675000  1.775000       1.925    1.625000
2021  3.425000  2.875000       2.700    2.550000
2022  6.800000  5.150000       4.825    5.375000
2023  4.166667  4.166667       4.400    5.333333

In [ ]:
start_date = '2001-01-01' # NOT NECESSARY
end_date = '2023-01-01'

# Filter the DataFrame based on the specified date range
filtered_df = groupby_df.loc[start_date:end_date]


#display the fil
filtered_df.head()

In [57]:
import hvplot.pandas

# Slicing cpi_annual_df to choose data for 2011 to 2023

cpi_annual_filetered_df = cpi_annual_df.loc['2011':'2023']

cpi_annual_filetered_df

      CPI_CORE  CPI_TRIM  CPI_MEDIAN  CPI_COMMON
Year
2011  2.900000  1.750000       1.875    1.775000
2012  1.550000  1.625000       1.775    1.775000
2013  0.900000  1.175000       1.575    1.275000
2014  1.900000  1.650000       1.725    1.475000
2015  1.125000  1.625000       1.800    1.900000
2016  1.450000  1.850000       2.000    1.700000
2017  1.600000  1.425000       1.650    1.250000
2018  2.300000  1.925000       1.825    1.775000
2019  1.950000  2.025000       1.950    2.150000
2020  0.675000  1.775000       1.925    1.625000
2021  3.425000  2.875000       2.700    2.550000
2022  6.800000  5.150000       4.825    5.375000
2023  4.166667  4.166667       4.400    5.333333

In [58]:
cpi_annual_filetered_df.hvplot()

:NdOverlay   [Variable]
   :Curve   [Year]   (value)

In [59]:
cpi_annual_filetered_df.hvplot(kind = 'bar',rot =90 )

:Bars   [Year,Variable]   (value)

In [ ]:
# NOT NECESSARY
mean_by_year = filtered_df.mean().round(3)


print("Mean from 2001-2023 of observation")
print(mean_by_year.values[0])

In [ ]:
df.plot(kind='line', color = ['brown','black','green','yellow'])