In [2]:
# Import necessary libraries
import numpy as np
import pandas as pd
import seaborn as sns
import os
import matplotlib.pyplot as plt

In [4]:
household_df = pd.read_csv("./Resources/canada_household_econimic_data.csv", index_col = 'Income, consumption and savings')
display(household_df.head())
display(household_df.tail())

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
"Income, consumption and savings",,,,,,,,,,,,,,,,,,,,,
Household disposable income,"615,286","642,584","663,239","695,238","721,510","774,375","816,321","862,404","884,783","928,091",...,"1,046,791","1,081,654","1,129,875","1,132,763","1,189,366","1,224,919","1,280,362","1,387,360","1,444,569","1,520,693"
Compensation of employees,"574,278","596,782","620,600","656,154","692,609","737,321","782,564","818,108","810,556","835,940",...,"959,181","996,247","1,024,742","1,024,142","1,066,523","1,122,304","1,168,597","1,155,842","1,264,592","1,383,129"
Net mixed income,"107,636","111,748","116,533","122,301","125,661","131,002","138,842","143,917","144,671","151,130",...,"167,712","172,078","177,994","183,581","190,323","195,618","207,999","207,211","217,267","237,720"
Property income received,"116,942","109,346","108,675","113,209","122,970","137,105","153,667","160,013","152,106","152,519",...,"175,342","181,876","198,218","189,502","202,189","202,278","217,587","212,221","215,883","241,202"
Less: property income paid,"41,204","37,300","39,081","40,156","43,309","52,632","61,313","63,921","55,559","54,143",...,"56,232","55,857","56,033","56,405","60,186","70,213","79,808","72,579","66,922","85,866"

,2001,2002,2003,2004,2005,2006,2007,2008,2009,2010,...,2013,2014,2015,2016,2017,2018,2019,2020,2021,2022
"Income, consumption and savings",,,,,,,,,,,,,,,,,,,,,
Social transfers in kind (STiK): health,"73,275","77,820","83,061","86,672","90,590","96,801","104,198","111,759","118,734","124,275",...,"139,633","144,998","150,809","155,903","161,159","165,903","172,933","185,450","210,157","227,467"
Social transfers in kind (STiK): other,"32,556","35,055","36,580","37,853","40,287","42,756","44,656","48,565","48,630","49,302",...,"54,285","54,591","56,784","59,697","62,117","65,927","68,847","70,937","71,786","79,088"
Household actual final consumption,"775,366","821,301","860,010","899,394","948,698","1,004,073","1,063,632","1,115,820","1,129,735","1,183,964",...,"1,323,036","1,379,357","1,424,887","1,466,550","1,533,668","1,597,406","1,650,671","1,597,233","1,724,190","1,898,803"
Change in pension entitlements,"29,643","29,444","32,376","35,213","41,620","39,979","43,385","45,397","38,057","38,076",...,"44,876","46,439","43,260","43,138","43,728","43,259","47,476","39,000","41,658","41,660"
Household net saving,"29,749","20,423","14,409","17,511","10,716","20,714","17,683","29,296","41,148","39,451",...,"53,583","41,838","51,055","22,235","23,941","7,733","27,022","198,463","158,591","92,683"

In [5]:
household_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 33 entries, Household disposable income to Household net saving
Data columns (total 22 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   2001    33 non-null     object
 1   2002    33 non-null     object
 2   2003    33 non-null     object
 3   2004    33 non-null     object
 4   2005    33 non-null     object
 5   2006    33 non-null     object
 6   2007    33 non-null     object
 7   2008    33 non-null     object
 8   2009    33 non-null     object
 9   2010    33 non-null     object
 10  2011    33 non-null     object
 11  2012    33 non-null     object
 12  2013    33 non-null     object
 13  2014    33 non-null     object
 14  2015    33 non-null     object
 15  2016    33 non-null     object
 16  2017    33 non-null     object
 17  2018    33 non-null     object
 18  2019    33 non-null     object
 19  2020    33 non-null     object
 20  2021    33 non-null     object
 21  2022    33 non-null     object
dtypes: object(22)
memory usage: 5.9+ KB

In [6]:
# Selecting Household Consumption and Net Savings Data from full data for Analysis

consumption_df = household_df.transpose().drop(columns=['Household disposable income',
                                                       'Compensation of employees',
                                                       'Net mixed income', 'Property income received',
                                                       'Less: property income paid',
                                                       'Current transfers received',
                                                       'Less: current transfers paid',
                                                       'Social transfers in kind (STiK)',
                                                       'Social transfers in kind (STiK): education',
                                                        'Social transfers in kind (STiK): health',
                                                        'Social transfers in kind (STiK): other',
                                                       'Adjusted household disposable income',
                                                        'Household final consumption expenditure (HFCE)',
                                                       'Household actual final consumption',
                                                       'Change in pension entitlements'], axis=1)


consumption_df

"Income, consumption and savings",Food and non-alcoholic beverages,Alcoholic beverages and tobacco,Clothing and footwear,"Housing, water, electricity, gas and other fuels","Furnishings, household equipment and other goods and services related to the dwelling and property",Health,Transport,Communications,Recreation and culture,Education,"Food, beverage and accommodation services",Insurance and financial services,Miscellaneous goods and services,Household net saving
2001,"59,698","27,713","30,229","139,341","35,912","21,548","90,542","13,672","61,600","6,346","45,449","51,954","31,176","29,749"
2002,"62,227","31,002","31,099","145,400","38,516","23,418","97,163","15,134","64,807","6,936","47,042","55,832","33,029","20,423"
2003,"64,646","33,087","31,763","153,520","40,551","24,760","101,244","15,788","67,024","7,873","48,631","57,839","34,480","14,409"
2004,"67,044","34,003","32,559","160,413","42,785","26,646","105,296","16,811","69,501","8,326","50,961","62,240","36,355","17,511"
2005,"69,305","34,130","33,712","168,562","44,873","28,720","113,683","18,071","72,867","8,991","54,283","66,978","38,239","10,716"
2006,"72,227","34,294","35,512","177,060","48,180","31,246","120,288","19,243","76,571","9,562","57,591","71,411","40,455","20,714"
2007,"75,314","34,907","37,171","188,322","50,974","33,824","128,871","20,175","80,747","10,189","61,374","77,358","42,797","17,683"
2008,"79,394","35,605","37,507","200,145","52,639","35,944","134,707","21,030","83,203","10,973","64,439","78,026","44,893","29,296"
2009,"84,166","36,033","36,964","205,828","52,060","37,843","125,375","22,551","83,559","11,838","64,620","74,669","46,186","41,148"
2010,"86,223","37,477","38,677","214,534","53,422","39,809","137,860","23,423","86,079","12,578","67,606","80,704","48,324","39,451"
2011,"89,033","38,506","40,029","224,318","53,901","41,354","148,259","24,745","88,040","13,347","70,736","84,381","50,429","41,961"
2012,"91,619","39,828","41,119","232,923","54,543","42,508","155,318","25,561","89,397","14,235","74,115","84,478","52,411","50,651"
2013,"94,538","40,679","42,358","244,457","55,877","44,037","163,831","26,831","90,358","15,168","77,153","88,828","53,969","53,583"
2014,"98,670","42,050","44,626","257,191","58,285","45,717","172,794","28,184","92,395","15,012","80,380","94,556","56,395","41,838"
2015,"102,658","43,354","47,299","266,997","60,547","47,935","172,494","29,495","94,536","15,786","83,572","98,811","58,596","51,055"
2016,"105,137","44,523","47,876","275,833","62,858","50,188","176,475","30,697","95,717","16,551","85,392","101,962","60,457","22,235"
2017,"109,628","45,376","49,289","288,655","65,200","52,376","189,321","33,112","97,781","20,681","86,508","108,202","63,024","23,941"
2018,"111,574","48,672","61,997","275,918","76,452","51,350","208,408","32,218","112,177","16,110","96,227","103,247","66,095","7,733"
2019,"115,912","48,571","63,586","290,065","79,251","53,421","209,236","33,337","114,121","16,910","100,436","106,821","69,149","27,022"
2020,"128,000","50,546","50,408","302,490","84,579","49,194","162,733","33,158","108,513","16,390","68,985","109,557","63,344","198,463"
2021,"129,710","51,010","58,853","315,491","93,833","53,959","186,865","33,534","119,676","16,801","80,968","118,290","68,646","158,591"
2022,"138,047","51,749","69,437","341,619","97,809","59,541","221,035","35,056","131,778","18,093","106,738","121,458","77,310","92,683"

In [9]:

# Define a function to remove commas and convert to float
def convert_to_float(value):
    return float(str(value).replace(',', ''))

# Apply conversion function to each specified column
for column in consumption_df.columns:
    consumption_df[column] = consumption_df[column].apply(convert_to_float)

# Print the DataFrame with the updated columns
display(consumption_df.head())

# Print the data types of the columns
consumption_df.dtypes

"Income, consumption and savings",Food and non-alcoholic beverages,Alcoholic beverages and tobacco,Clothing and footwear,"Housing, water, electricity, gas and other fuels","Furnishings, household equipment and other goods and services related to the dwelling and property",Health,Transport,Communications,Recreation and culture,Education,"Food, beverage and accommodation services",Insurance and financial services,Miscellaneous goods and services,Household net saving
2001,59698.0,27713.0,30229.0,139341.0,35912.0,21548.0,90542.0,13672.0,61600.0,6346.0,45449.0,51954.0,31176.0,29749.0
2002,62227.0,31002.0,31099.0,145400.0,38516.0,23418.0,97163.0,15134.0,64807.0,6936.0,47042.0,55832.0,33029.0,20423.0
2003,64646.0,33087.0,31763.0,153520.0,40551.0,24760.0,101244.0,15788.0,67024.0,7873.0,48631.0,57839.0,34480.0,14409.0
2004,67044.0,34003.0,32559.0,160413.0,42785.0,26646.0,105296.0,16811.0,69501.0,8326.0,50961.0,62240.0,36355.0,17511.0
2005,69305.0,34130.0,33712.0,168562.0,44873.0,28720.0,113683.0,18071.0,72867.0,8991.0,54283.0,66978.0,38239.0,10716.0

Income, consumption and savings
Food and non-alcoholic beverages                                                                      float64
Alcoholic beverages and tobacco                                                                       float64
Clothing and footwear                                                                                 float64
Housing, water, electricity, gas and other fuels                                                      float64
Furnishings, household equipment and other goods and services related to the dwelling and property    float64
Health                                                                                                float64
Transport                                                                                             float64
Communications                                                                                        float64
Recreation and culture                                                                                float64
Education                                                                                             float64
Food, beverage and accommodation services                                                             float64
Insurance and financial services                                                                      float64
Miscellaneous goods and services                                                                      float64
Household net saving                                                                                  float64
dtype: object

In [12]:
consumption_df['Consumer_Staples'] = consumption_df['Food and non-alcoholic beverages'] + consumption_df['Alcoholic beverages and tobacco'] + consumption_df['Clothing and footwear']
columns_to_drop = ['Food and non-alcoholic beverages', 'Alcoholic beverages and tobacco', 'Clothing and footwear']
consumption_df= consumption_df.drop(columns=columns_to_drop)
# Print the DataFrame with the new 'Consumer_Staples' column and dropped columns
consumption_df

"Income, consumption and savings","Housing, water, electricity, gas and other fuels","Furnishings, household equipment and other goods and services related to the dwelling and property",Health,Transport,Communications,Recreation and culture,Education,"Food, beverage and accommodation services",Insurance and financial services,Miscellaneous goods and services,Household net saving,Consumer_Staples
2001,139341.0,35912.0,21548.0,90542.0,13672.0,61600.0,6346.0,45449.0,51954.0,31176.0,29749.0,117640.0
2002,145400.0,38516.0,23418.0,97163.0,15134.0,64807.0,6936.0,47042.0,55832.0,33029.0,20423.0,124328.0
2003,153520.0,40551.0,24760.0,101244.0,15788.0,67024.0,7873.0,48631.0,57839.0,34480.0,14409.0,129496.0
2004,160413.0,42785.0,26646.0,105296.0,16811.0,69501.0,8326.0,50961.0,62240.0,36355.0,17511.0,133606.0
2005,168562.0,44873.0,28720.0,113683.0,18071.0,72867.0,8991.0,54283.0,66978.0,38239.0,10716.0,137147.0
2006,177060.0,48180.0,31246.0,120288.0,19243.0,76571.0,9562.0,57591.0,71411.0,40455.0,20714.0,142033.0
2007,188322.0,50974.0,33824.0,128871.0,20175.0,80747.0,10189.0,61374.0,77358.0,42797.0,17683.0,147392.0
2008,200145.0,52639.0,35944.0,134707.0,21030.0,83203.0,10973.0,64439.0,78026.0,44893.0,29296.0,152506.0
2009,205828.0,52060.0,37843.0,125375.0,22551.0,83559.0,11838.0,64620.0,74669.0,46186.0,41148.0,157163.0
2010,214534.0,53422.0,39809.0,137860.0,23423.0,86079.0,12578.0,67606.0,80704.0,48324.0,39451.0,162377.0
2011,224318.0,53901.0,41354.0,148259.0,24745.0,88040.0,13347.0,70736.0,84381.0,50429.0,41961.0,167568.0
2012,232923.0,54543.0,42508.0,155318.0,25561.0,89397.0,14235.0,74115.0,84478.0,52411.0,50651.0,172566.0
2013,244457.0,55877.0,44037.0,163831.0,26831.0,90358.0,15168.0,77153.0,88828.0,53969.0,53583.0,177575.0
2014,257191.0,58285.0,45717.0,172794.0,28184.0,92395.0,15012.0,80380.0,94556.0,56395.0,41838.0,185346.0
2015,266997.0,60547.0,47935.0,172494.0,29495.0,94536.0,15786.0,83572.0,98811.0,58596.0,51055.0,193311.0
2016,275833.0,62858.0,50188.0,176475.0,30697.0,95717.0,16551.0,85392.0,101962.0,60457.0,22235.0,197536.0
2017,288655.0,65200.0,52376.0,189321.0,33112.0,97781.0,20681.0,86508.0,108202.0,63024.0,23941.0,204293.0
2018,275918.0,76452.0,51350.0,208408.0,32218.0,112177.0,16110.0,96227.0,103247.0,66095.0,7733.0,222243.0
2019,290065.0,79251.0,53421.0,209236.0,33337.0,114121.0,16910.0,100436.0,106821.0,69149.0,27022.0,228069.0
2020,302490.0,84579.0,49194.0,162733.0,33158.0,108513.0,16390.0,68985.0,109557.0,63344.0,198463.0,228954.0
2021,315491.0,93833.0,53959.0,186865.0,33534.0,119676.0,16801.0,80968.0,118290.0,68646.0,158591.0,239573.0
2022,341619.0,97809.0,59541.0,221035.0,35056.0,131778.0,18093.0,106738.0,121458.0,77310.0,92683.0,259233.0

In [10]:
# New Columns with consumption data Sector-wise
consumption_df['Consumer_Staples'] = consumption_df['Food and non-alcoholic beverages'] + consumption_df['Alcoholic beverages and tobacco'] + consumption_df['Clothing and footwear']

consumption_df['Real_Estate and Utilities'] = consumption_df['Housing, water, electricity, gas and other fuels']+consumption_df['Furnishings, household equipment and other goods and services related to the dwelling and property']+consumption_df['Miscellaneous goods and services']

consumption_df['Travel and Leisure'] = consumption_df['Transport']+consumption_df['Recreation and culture']

sector_consumption_df = consumption_df[['Consumer_Staples','Real_Estate and Utilities','Health',
                                       'Insurance and financial services','Travel and Leisure',
                                       'Household net saving']].reset_index()

sector_consumption_df.rename(columns={'index':'Year'},inplace=True)

sector_consumption_df = sector_consumption_df.set_index('Year')

sector_consumption_df

# Print the Sector-wise DataFrame
sector_consumption_df

"Income, consumption and savings",Consumer_Staples,Real_Estate and Utilities,Health,Insurance and financial services,Travel and Leisure,Household net saving
Year,,,,,,
2001,117640.0,206429.0,21548.0,51954.0,152142.0,29749.0
2002,124328.0,216945.0,23418.0,55832.0,161970.0,20423.0
2003,129496.0,228551.0,24760.0,57839.0,168268.0,14409.0
2004,133606.0,239553.0,26646.0,62240.0,174797.0,17511.0
2005,137147.0,251674.0,28720.0,66978.0,186550.0,10716.0
2006,142033.0,265695.0,31246.0,71411.0,196859.0,20714.0
2007,147392.0,282093.0,33824.0,77358.0,209618.0,17683.0
2008,152506.0,297677.0,35944.0,78026.0,217910.0,29296.0
2009,157163.0,304074.0,37843.0,74669.0,208934.0,41148.0
2010,162377.0,316280.0,39809.0,80704.0,223939.0,39451.0
2011,167568.0,328648.0,41354.0,84381.0,236299.0,41961.0
2012,172566.0,339877.0,42508.0,84478.0,244715.0,50651.0
2013,177575.0,354303.0,44037.0,88828.0,254189.0,53583.0
2014,185346.0,371871.0,45717.0,94556.0,265189.0,41838.0
2015,193311.0,386140.0,47935.0,98811.0,267030.0,51055.0
2016,197536.0,399148.0,50188.0,101962.0,272192.0,22235.0
2017,204293.0,416879.0,52376.0,108202.0,287102.0,23941.0
2018,222243.0,418465.0,51350.0,103247.0,320585.0,7733.0
2019,228069.0,438465.0,53421.0,106821.0,323357.0,27022.0
2020,228954.0,450413.0,49194.0,109557.0,271246.0,198463.0
2021,239573.0,477970.0,53959.0,118290.0,306541.0,158591.0
2022,259233.0,516738.0,59541.0,121458.0,352813.0,92683.0

In [ ]:
# Change the data into percent change
# Comparing it with Inflation CPI_Common
# Plotting the changes _ using SNS, HVPLOT

In [12]:
change_df = sector_consumption_df.pct_change() * 100
change_df

"Income, consumption and savings",Consumer_Staples,Real_Estate and Utilities,Health,Insurance and financial services,Travel and Leisure,Household net saving
Year,,,,,,
2001,NaN,NaN,NaN,NaN,NaN,NaN
2002,5.685141,5.094245,8.678300,7.464295,6.459755,-31.348953
2003,4.156747,5.349743,5.730635,3.594713,3.888374,-29.447192
2004,3.173843,4.813805,7.617124,7.609053,3.880120,21.528212
2005,2.650330,5.059841,7.783532,7.612468,6.723800,-38.804180
2006,3.562601,5.571096,8.795265,6.618591,5.526132,93.299739
2007,3.773067,6.171738,8.250656,8.327849,6.481289,-14.632616
2008,3.469659,5.524419,6.267739,0.863518,3.955767,65.673245
2009,3.053650,2.148974,5.283218,-4.302412,-4.119132,40.456035
2010,3.317575,4.014154,5.195148,8.082337,7.181694,-4.124137
2011,3.196881,3.910459,3.881032,4.556156,5.519360,6.362323
2012,2.982670,3.416725,2.790540,0.114955,3.561589,20.709707
2013,2.902658,4.244477,3.596970,5.149270,3.871442,5.788632
2014,4.376179,4.958468,3.814974,6.448417,4.327489,-21.919265
2015,4.297368,3.837083,4.851587,4.499979,0.694222,22.030212
2016,2.185597,3.368726,4.700115,3.188916,1.933116,-56.448928
2017,3.420642,4.442212,4.359608,6.119927,5.477751,7.672588
2018,8.786400,0.380446,-1.958912,-4.579398,11.662406,-67.699762
2019,2.621455,4.779372,4.033106,3.461602,0.864669,249.437476
2020,0.388040,2.724961,-7.912619,2.561294,-16.115625,634.449708
2021,4.638050,6.118163,9.686141,7.971193,13.012173,-20.090395
2022,8.206267,8.110969,10.344891,2.678164,15.094881,-41.558474

In [22]:
import hvplot.pandas
consumer_staples_plot = change_df[['Consumer_Staples']].loc['2011':'2023'].hvplot(rot=90)

In [18]:
# Quarterly CPI Data

cpi_path = 'canada_CPI.csv'
cpi_df = pd.read_csv( cpi_path, skiprows=1)

cpi_df.head()

,date,INDINF_CPI_Q,INDINF_CPI_TRIM_Q,INDINF_CPI_MEDIAN_Q,INDINF_CPI_COMMON_Q
0,1993Q1,2.2,2.0,2.0,1.8
1,1993Q2,1.8,1.9,1.9,1.7
2,1993Q3,1.8,1.8,1.7,1.4
3,1993Q4,1.8,1.8,1.7,1.5
4,1994Q1,0.5,1.5,1.6,1.3

In [19]:
#formating dates by removing Q1, Q2, Q3 and Q4

cpi_df["date"] = [date.split('Q')[0] for date in cpi_df["date"]]

#displaying the first five observations
cpi_df.head()

,date,INDINF_CPI_Q,INDINF_CPI_TRIM_Q,INDINF_CPI_MEDIAN_Q,INDINF_CPI_COMMON_Q
0,1993,2.2,2.0,2.0,1.8
1,1993,1.8,1.9,1.9,1.7
2,1993,1.8,1.8,1.7,1.4
3,1993,1.8,1.8,1.7,1.5
4,1994,0.5,1.5,1.6,1.3

In [20]:
# changing column names
cpi_df.rename(columns = {'date':'Year','INDINF_CPI_MEDIAN_Q':'CPI_MEDIAN','INDINF_CPI_Q':'CPI_CORE',
                               'INDINF_CPI_TRIM_Q':'CPI_TRIM','INDINF_CPI_COMMON_Q':'CPI_COMMON'}, 
                     inplace = True)

# calculating approximate annual inflation as Mean of Quarterly CPI

cpi_annual_df = cpi_df.groupby('Year').mean()

cpi_annual_df

      CPI_CORE  CPI_TRIM  CPI_MEDIAN  CPI_COMMON
Year
1993  1.900000  1.875000       1.825    1.600000
1994  0.150000  1.425000       1.525    0.975000
1995  2.125000  2.025000       1.900    1.725000
1996  1.625000  1.275000       1.300    1.300000
1997  1.650000  1.175000       1.125    1.500000
1998  0.975000  1.075000       1.175    1.675000
1999  1.750000  1.300000       1.200    1.900000
2000  2.725000  1.750000       1.550    1.775000
2001  2.550000  2.250000       2.175    2.425000
2002  2.250000  2.050000       2.075    2.250000
2003  2.775000  1.925000       2.075    1.925000
2004  1.825000  1.675000       1.675    1.800000
2005  2.225000  1.750000       1.850    1.975000
2006  2.025000  2.050000       1.975    2.000000
2007  2.150000  2.575000       2.500    2.250000
2008  2.375000  2.400000       2.575    2.325000
2009  0.300000  1.825000       2.050    2.800000
2010  1.775000  1.250000       1.600    1.275000
2011  2.900000  1.750000       1.875    1.775000
2012  1.550000  1.625000       1.775    1.775000
2013  0.900000  1.175000       1.575    1.275000
2014  1.900000  1.650000       1.725    1.475000
2015  1.125000  1.625000       1.800    1.900000
2016  1.450000  1.850000       2.000    1.700000
2017  1.600000  1.425000       1.650    1.250000
2018  2.300000  1.925000       1.825    1.775000
2019  1.950000  2.025000       1.950    2.150000
2020  0.675000  1.775000       1.925    1.625000
2021  3.425000  2.875000       2.700    2.550000
2022  6.800000  5.150000       4.825    5.375000
2023  4.166667  4.166667       4.400    5.333333

In [23]:
import hvplot.pandas

# Slicing cpi_annual_df to choose data for 2011 to 2023

cpi_annual_filetered_df = cpi_annual_df.loc['2011':'2023']

CPI_plot = cpi_annual_filetered_df[['CPI_COMMON']].hvplot()

In [24]:
consumer_staples_plot * CPI_plot

:Overlay
   .Curve.I  :Curve   [Year]   (Consumer_Staples)
   .Curve.II :Curve   [Year]   (CPI_COMMON)